@import "tailwindcss";

@theme {
  /* Font Family */
  --font-sans: "Poppins", ui-sans-serif, system-ui, sans-serif;

  /* Custom Colors */
  --color-primary: #2aa090;
  --color-primary-dark: #1f7a6e;
  --color-secondary: #222222;
  --color-surface: #f8f9fa;
}